@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  font-family: 'Raleway', sans-serif;
}

.lists {
  padding: 0;
  list-style: none;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

.lists li {
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.fullRepo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-right: 20px;
}

.eachSection {
  text-align: center;
  list-style: none;
  margin-top: 50px;
}

.eachSection p {
  padding-left: 30px;
  font-weight: bold;
}

.eachSection .image{
  width: 170px;
  border-radius: 50%;
}

.eachSection ul {
  list-style: none;
  margin-top: 10px;
}

.eachSection ul li {
  padding-top: 10px;
}
