@import url('https://fonts.googleapis.com/css?family=Raleway');

.lists {
  padding: 0;
  list-style: none;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

.lists li {
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.individualRepo h3 {
  color: black;
  font-size: 30px;
}
