@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

a:link, a:hover, a:visited, a:active {
  color: #ff7f50;
  text-decoration: none;
}

.lists {
  padding: 0;
  list-style: none;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

.lists li {
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.fullRepo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-right: 20px;
}

.eachSection {
  text-align: center;
  list-style: none;
  margin-top: 50px;
}

.eachSection p {
  padding-left: 30px;
  font-weight: bold;
}

.eachSection .image{
  width: 170px;
  border-radius: 50%;
}

.eachSection ul {
  list-style: none;
  margin-top: 10px;
}

.eachSection ul li {
  padding-top: 10px;
}

.navigation {
  display: flex;
  margin: 20px;
  list-style: none;
}

.navigation li {
  padding-right: 10px;
}

.active {
  font-weight: bold;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 200px;
  background-color: coral;
  height: 75vh;
  width: 100%;
  font-size: 20px;
  color: white;
}

.homepage span {
  background-color: white;
  color: coral;
}

.button {
  border: 1px solid white;
  width: 150px;
  padding: 15px;
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
  border-radius: 20px;
  background-color: white;
}

.button:active {
  transform: translateY(2px);
}

.error {
  display: flex;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 150px;
}


.error h1 {
  text-transform: uppercase;
  color: coral;
  font-size: 40px;
}

.error span {
  color: coral;
  font-size: 25px;
}

.row {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 500px;
}

.form label {
  font-size: 34px;
  color: coral;
  font-family: 'Raleway', sans-serif;
}

.form input {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 17px;
  padding-top: 3px;
  padding-bottom: 3px;
}

input:focus {
  outline: none;
}

.form button {
  border: 1px solid coral;
  width: 40%;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  color: coral;
  border-radius: 10px;
  cursor: pointer;
  font-size: 17px;
  outline: none;
}

.form button:active {
  transform: translateY(2px);
}

.avatar {
  width: 170px;
  border-radius: 50%;

}

.reset {
  border: 1px solid coral;
  width: 40%;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  color: coral;
  border-radius: 10px;
  cursor: pointer;
  font-size: 17px;
  outline: none;
}

.renderButton {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.battleButton {
  border: 1px solid orange;
  width: 100%;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  color: orange;
  border-radius: 10px;
  cursor: pointer;
  font-size: 24px;
  outline: none;
}

@media screen and (min-width: 1200px) {
  .row {
    margin-top: 150px;
  }

  .homepage {
    font-size: 25px;
    padding-top: 250px;
  }
}
